/* 
    Document   : refreak
    Created on : 04-oct-2012, 18:17:39
    Author     : victor
    Description:
        Refreak General CSS 
*/

root { 
    display: block;
}

body {
    margin: 0px;
    padding: 0px;
}

.head {        
    position: fixed;
    top: 0px; 
    left: 0px;  
    width: 100%;
    z-index: 50;
}

.header {
    background-color: #666666;
    border-bottom: 1px solid #FFFFFF;
    height: 30px;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;    
}

.content {
    position: relative;
    left: 1%;
    top: 65px;
    width: 98%;
}

.user {
    color: #FFFFFF;
    float: right;
    font-family: Verdana,Arial;
    padding-right: 10px;
    text-align: right;    
}

.user a:link, .user a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.user a:hover {
    text-decoration: underline;
}

.userlogout {
    float: right;
    padding: 6px 10px 0 0;
}

.username {
    font-size: 12px;
    font-weight: bold;
}

.userdate {
    font-size: 9px;
}


/*** BEGIN Right Navigation panel ***/

ul.navright {
    float: right;
    height: 30px;
    font-size:11px;
    font-weight:bold;
    font-family: Verdana, Arial;
    color: #fff;
    text-shadow:1px 1px 0px #000;
    margin:0;
    padding:0;  
}

ul.navright li {
    display:inline;        
    position:relative;   
    
}

ul.navright li a {
    
    color:white;
    text-shadow:1px 1px 0px #000;
    text-decoration:none;
    display:inline-block;    
    padding:5px 10px;
    
    -webkit-transition:color 0.2s linear, background 0.2s linear;  
    -moz-transition:color 0.2s linear, background 0.2s linear; 
    -o-transition:color 0.2s linear, background 0.2s linear;   
    transition:color 0.2s linear, background 0.2s linear;  
}
 
ul.navright li a:hover {
    background:#f8f8f8;
    color:#339933;
}

ul.navright select {
	font-family: Verdana, Arial;
	font-size: 9px;
	font-weight: normal;
	border: 0px solid #933;
}
/*** END Right Navigation panel ***/

/*** BEGIN Menu ***/

/* Main Navigation */
nav {
    position:relative;
    /*width:620px;*/    
    height: 25px;
    margin: 0 auto;
    /* margin-top:50px;*/
    padding:0px;
    width: 100%;
    background: #339933;
}
 
ul.nav {
    float:left;
    margin:0px auto;
    position:relative;
    /*width: 100%;*/
    float:left;
    padding: 0px;
    /*border-left:1px solid #c4dbe7;
    border-right:1px solid #c4dbe7;*/
}
 
ul.nav li {
    display:inline;
    font-size:11px;
    font-weight:bold;
    font-family: Verdana, Arial;
    margin:0;
    padding:0;
    float:left;
    position:relative;
    /*border-top:1px solid #c4dbe7;
    border-bottom:2px solid #c4dbe7;*/
}
 
ul.nav li a {
    padding:5px 25px;
    color:white;
    text-shadow:1px 1px 0px #000;
    text-decoration:none;
    display:inline-block;
    /*border-right:1px solid #fff;
    border-left:1px solid #C2C2C2;
    border-top:1px solid #fff;*/
     
    -webkit-transition:color 0.2s linear, background 0.2s linear;  
    -moz-transition:color 0.2s linear, background 0.2s linear; 
    -o-transition:color 0.2s linear, background 0.2s linear;   
    transition:color 0.2s linear, background 0.2s linear;  
}
 
ul.nav li a:hover {
    background:#f8f8f8;
    color:#339933;
}
 
ul.nav li a.first {
    border-left: 0 none;
}
 
ul.nav li a.last {
    border-right: 0 none;
}
 
ul.nav li:hover > a {
    background:#fff;
    color:#339933;
}

/* Drop-Down Navigation */
ul.nav li:hover > ul
{
/*these 2 styles are very important,
being the ones which make the drop-down to appear on hover */
    visibility:visible;
    opacity:1;
}
 
ul.nav ul, ul.nav ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;   
/*the next 2 styles are very important,
being the ones which make the drop-down to stay hidden */
    visibility:hidden;
    opacity:0;
    position: absolute;
    z-index: 99999;
    width:150px;
    background:#339933;
    box-shadow:1px 1px 3px #ccc;
/* css3 transitions for smooth hover effect */
    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition:opacity 0.2s linear, visibility 0.2s linear;
    -o-transition:opacity 0.2s linear, visibility 0.2s linear;
    transition:opacity 0.2s linear, visibility 0.2s linear;    
}
 
ul.nav ul {
    top: 26px;
    left: 1px;
}
 
ul.nav ul li ul {
    top: 0;
    left: 151px; /* strong related to width:180px; from above */
}
 
ul.nav ul li {
    clear:both;
    width:100%;
    border:0 none;
    /*border-bottom:1px solid #c9c9c9;*/
}
 
ul.nav ul li a {
    background:none;
    padding:7px 15px;
    color:#fff;
    text-shadow:1px 1px 0px #000;
    text-decoration:none;
    display:inline-block;
    border:0 none;
    float:left;
    clear:both;
    width:125px;
}
/*** END Menu ***/

/*** Tables ***/
table.sheet {
	border-top: 1px solid #999;
	border-left: 1px solid #999;
}
fieldset a:link, fieldset a:visited, table.sheet a:link, table.sheet a:visited {
	color: #00c;
	text-decoration: none;
}
table.sheet tr.disabled a:link, table.sheet tr.disabled a:visited {
	color: #666;
}
fieldset a:hover, table.sheet a:hover, table.sheet tr.disabled a:hover {
	text-decoration: underline;
}
table.sheet tr {
	background-color: #eee;
}
table.sheet tr:hover {
	background-color: #fcc;
}
table.sheet tr.high {
	background-color: #f99;
}
table.sheet tr.disabled td {
	color: #666;
}
table.sheet th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	text-align: left;
	background-color: #ccc;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}
table.sheet th.sortable:hover, table.sheet th.sortable.hover {
	cursor: pointer;
	background-color: #ccf;
}
table.sheet th.cc {
	text-align: center;
}
table.sheet th.rr {
	text-align: right;
}
table.sheet td {
	font-family:Arial, Helvetica, sans-serif;
	font-size: small;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}
table.sheet th.act, table.sheet td.act {
	text-align: center;
}
table.sheet input, table.sheet textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #fff;
	width: 95%;
}
table.sheet input#bsave {
	width: 27px;
}
table.sheet input.fff {
	width: 12px;
}
table.sheet td.sts0 {
	font-size: 7px;
	width: 8px;
}
table.sheet td.sts1 {
	font-size: 8px;
	background-color: #00C000;
	width: 8px;
}
table.sheet td.sts2 {
	font-size: 8px;
	background-color: #90FF00;
	width: 8px;
}
table.sheet td.sts3 {
	font-size: 8px;
	background-color: #FFE000;
	width: 8px;
}
table.sheet td.sts4 {
	font-size: 8px;
	background-color: #FF6000;
	width: 8px;
}
table.sheet td.sts5 {
	font-size: 8px;
	background-color: #E00000;
	width: 8px;
}
table.sheet td.task_prio {
	text-align: center;
}
table.sheet td.task_prio span, .vprio span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #fff;
	text-align: center;
	padding: 2px 4px 1px 4px;
	width: 14px;
}
table.sheet td.task_ctsh {
	text-align: center;
}

table.sheet td.task_ctlg {
	font-size: x-small;
}

table.sheet td.task_ctsh span {
	font-family: "Courier New", Courier, monospace;
	font-size: 10px;
	color: #fff;
	text-align: center;
	padding: 2px 4px 1px 4px;
	width: 14px;
}

table.sheet td div.comment_count {
	float: right;
}

/*** End Tables ***/

/** Priority **/
span.task_pr0 {
	background-color: #bbb;
}
span.task_pr1 {
	background-color: #c00;
}
span.task_pr2 {
	background-color: #f60;
}
span.task_pr3 {
	background-color: #f93;
}
span.task_pr4 {
	background-color: #9c0;
}
span.task_pr5 {
	background-color: #393;
}
span.task_pr6 {
	background-color: #399;
}
span.task_pr7 {
	background-color: #39c;
}
span.task_pr8 {
	background-color: #99c;
}
span.task_pr9 {
	background-color: #999;
}
/** End Priority **/

/** Context **/
span.task_ctxW {
	background-color: #939;
}
span.task_ctxM {
	background-color: #c33;
}
span.task_ctxD {
	background-color: #66f;
}
span.task_ctxI {
	background-color: #090;
}
span.task_ctxP {
	background-color: #963;
}
span.task_ctxE {
	background-color: #39c;
}
span.task_ctxH {
	background-color: #3c9;
}
span.task_ctxO {
	background-color: #999;
}
div.task_ctxW {
	color: #939;
        font-weight: bold;
}
div.task_ctxM {
	color: #c33;
        font-weight: bold;
}
div.task_ctxD {
	color: #66f;
        font-weight: bold;
}
div.task_ctxI {
	color: #090;
        font-weight: bold;
}
div.task_ctxP {
	color: #963;
        font-weight: bold;
}
div.task_ctxE {
	color: #39c;
        font-weight: bold;
}
div.task_ctxH {
	color: #3c9;
        font-weight: bold;
}
div.task_ctxO {
	color: #999;
        font-weight: bold;
}
/** End Context **/


.invitation,
.project_hidden_position,
.project_hidden_change {
        display:none;
}

/* panels */
.infoMessage {
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	background-color: #ffc;
	border: 1px solid #666;
	text-align: center;
	z-index: 40;
        display: none;
}
.message.error {
	background-color: #fcc;
}
/* end panels */

/* forms and edit pages */

.center {
        text-align: center;
}

.horiz {
	width: 600px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	text-align: left;
        margin: auto;
}

fieldset {
        margin-top: 15px;
}

fieldset legend {
	font-size: medium;
	font-weight: bold;
	text-align: left;
}

form p label {
        display:block;
	float:left;
	width:100px;
        font-weight: bold;
}

form input[type=text] {
        width: 400px;
}

form textarea {
        width: 400px;
        height: 60px;
}

form select {
        width: 150px;
}

.password {
	width: 150px;
}
/* end forms and edit pages */

/* access levels styles */
.level_pad {
	padding-right: 8px;
}
.level_high {
	padding-right: 8px;
	font-weight: bold;
}
.level_0 {
	/* not defined */
	color: #999;
}
.level_4 {
	/* guest */
	color: #000;
}
.level_3 {
	/* intern */
	color: #090;
}
.level_2 {
	/* manager */
	color: #909;
}
.level_1 {
	/* administrator */
	color: #c00;
}
/* end access levels styles */

/* task edit panel */
.task_panel {
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	background-color: #fff;
	border: 1px solid #666;
	text-align: left;
	z-index: 20;
        display: none;
        min-height: 360px;
}


.task_panel th {
	color: #666;
	font-weight: lighter;
	text-align: left;
}

.task_panel select.task_context {
    width: 110px;
}

.task_panel input.task_dead {
    width: 100px;
    margin-right: 5px;
}

.task_panel input.task_edit_project_new_name {
    width: 200px;
}

.task_panel input.task_full {
    width: 415px;
}

.task_panel textarea.task_full {
    width: 415px;
    height: 150px;
}

.task_panel select.task_projects {
    width: 200px;
}

.task_panel select.task_users {
    width: 150px;
}

.task_panel select.task_status {
    width: 150px;
}

.task_panel p.ctr {
    text-align: center;
}

.task_panel  a.small {
	font-size: x-small;
	color: #33c;
	text-decoration: none;
}

.task_panel  a.small:hover {
	color: #00f;
}

.task_panel .project_txt {
    display: none;
}

.task_panel img.loader {
    display: block; 
    margin-left: auto;   
    margin-right: auto;
    position:absolute;
    top:47%;
    left:47%;    
}
/* end task edit panel */

.btn_task_edit, .btn_task_new {
    text-decoration: none;
}

.btn_task_edit img, .btn_task_new img{
    text-decoration: none;
}

/* task show panel */

.task_show_menu {
    float: right;
    text-align: right;    
}

div.tabmenu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
div.tabmenu li {
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: x-small;
    margin: 0 0 -1px 6px;
    position: relative;
}
div.tabmenu li a:link, div.tabmenu li a:visited {
    background-color: #EEEEEE;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    color: #999999;
    display: block;
    font-weight: bold;
    padding: 3px 6px;
    text-decoration: none;
}
div.tabmenu li a:hover {
    background-color: #FFFFFF;
    color: #666666;
}
div.tabmenu li.active a:link, div.tabmenu li.active a:visited {
    background-color: #FFFFFF;
    border-color: #999999 #999999 #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #999999;
}
div.tabmenu li.active a:hover {
    color: #666666;
}

.task_show_menu a:link, .task_show_menu a:visited {
    color: #CCCCCC;
    text-decoration: none;
}
.task_show_menu a:hover {
    color: #999999;
}

.task_show_menu img {
    margin: 0 0 6px;
    vertical-align: middle;
}

.task_panel .task_show_priority {
    float: left;
    height: 32px;
    margin-left: 3px;
    width: 120px;
}

.task_panel .task_show_content {
    float: left;
    height: 32px;
    width: 120px;
}

.task_panel .task_show_project {
    clear: left;
    float: left;
    height: 32px;
    margin-left: 3px;
    width: 239px;
}

.task_panel .task_show_title {
    clear: left;
    float: left;
    height: 32px;
    margin-left: 3px;
    width: 492px;
}

.task_panel .task_show_user {
    clear: both;
    float: left;
    height: 36px;
    margin-bottom: 6px;
    margin-left: 3px;
    width: 240px;
}

.task_panel .task_show_visibility {
    float: left;
    height: 36px;
    width: 252px;
}

.task_panel .task_show_status {
    margin: 3px 0 6px 3px;
}

.task_panel .task_show_status_inside {
    float: left;
}

.task_panel .tabmenu {
    border: 1px solid #FFFFFF;
    clear: both;
    margin: 6px 0 0;
}

.task_panel .tabcontent {
    border: 1px solid #999999;
    clear: both;
    margin: 0;
    padding: 1px;
    text-align: left;
}

.task_panel div.label {
    color: #BBBBBB;
    font-family: Arial,Helvetica,sans-serif;
    font-size: x-small;
}

.task_panel div.label2 {
    color: #CCCCCC;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: x-small;
    margin: 3px 20px 3px 0;
}

div.tabcontent {
    border: 1px solid #999999;
    clear: both;
    margin: 0;
    padding: 1px;
    text-align: left;
}

div.tabcontent_edit {
    /*display: none;*/
    height: 170px;
    padding: 3px;
    position: relative;
}

div.tabcontent_edit textarea {
    height: 140px;
    width: 485px;
}
/* end task show panel */